<div class="container" >
  <div class="container">
    <h2 class="mb-3 mt-3">Entertainment</h2>
    <!-- <div *ngFor="let news of newsData">
      <div class="media mb-5">
        <img src="{{news.urlToImage}}" class="mr-3 image" alt="image">
        <div class="media-body">
          <h5 class="mt-0">{{news.title}}</h5>
          {{news.content}}<br />
          <a href="{{news.url}}" target="_blank">Read more</a>
        </div>
      </div>
    </div> -->
    <owl-carousel-o [options]="customOptions"  class="mb-3">
    <div class="row">
        <div class="col-4" *ngFor="let news of newsData">
            <ng-template carouselSlide [id]="news.id">
            <div class="card mt-3 mb-3">
                <img [src]="news.src" [title]="news.title" src="{{news.urlToImage}}" class="card-img-top news-img" alt="image">
                <div class="card-body">
                    <h5 class="mt-0 block-with-text-2">{{news.title}}</h5>
                  <p class="card-text block-with-text">{{news.content}}</p>
                  <a href="{{news.url}}" class="card-link mb-3" target="_blank">Read more</a>
                </div>
              </div>
            </ng-template>  
        </div>
    </div>
</owl-carousel-o>
<br />
  </div>
</div>

