.content {
    padding: 50px 0px 50px 0px
}

.artwork {
    width: 100%;
}

.hero {
    height: auto;
    width: 100%;
    padding-top: 50px;
    background-image: url('../../../../assets/images/background-image.jpg');
    background-repeat: no-repeat;
    /* margin-bottom: 50px; */
    color: #ffffff;
    border-radius: 0px;
    margin-bottom: 25px;
    background-size: cover;
    background-color: aqua;
  }

  .thead-light {
    border: 0px;
}

.header {
    font-size: 3.5em;
    font-weight: bold;
}

.loading {
   background-image: url('../../../../assets/images/rolling.gif');
   background-image: no-repeat;
   display: block;
   height: 40px;
   width: 40px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 25px;
}

.table-pagination {
    text-align: center;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #232323;
  }

  .my-pagination /deep/ .ngx-pagination{
    padding-left: 0px!important;
  }

  .my-pagination /deep/ .ngx-pagination a, .ngx-pagination button{
    text-decoration: none!important;
  }

  @media only screen and (max-width: 600px) {
    .artwork  {
      margin-bottom: 15px!important;
    }
  }