<div class="hero" *ngIf="!data">
  <div class="container">
    <h1 class="display-4 text-center header mb-3">SEARCH BOX</h1>
    <p class="mb-5">Per ad sumo nullam liberavisse, aeque invenire sea te, eos debet delectus detraxit ei. Dicam
      recusabo nec in, molestiae tincidunt reprehendunt mea an.</p>
    <!-- <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Artwork</th>
              <th>Artist</th>
              <th>Title</th>
              <th>Genre</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of list.playlist">
              <td><img src="{{user.artworkUrl60}}"></td>
              <td>{{user.artistName}}</td>
              <td>{{user.collectionName}}</td>
              <td>{{user.primaryGenreName}}</td>
              <td>{{user.collectionPrice}}</td>
            </tr>
          </tbody>
        </table>

        <button (click)="this.list.savePlaylist()" class="btn btn-info mb-3">
             <fa-icon [icon]="faSave"></fa-icon>  Save 
          </button>
       -->

    <form>
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="form-group">
            <label for="searchQuery" class="sr-only">Search</label>
            <input type="text" name="searchQuery" [(ngModel)]="searchQuery" class="form-control form-control-lg"
              placeholder="Search iTunes..." required autocomplete="off">
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mb-5">
          <button type="button" (click)="getAll()" class="btn btn-info btn-block btn-lg">
            <fa-icon [icon]="faSearch"></fa-icon> Search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-container *ngIf="noData">
  <div class="container mt-5">
    <div class="alert alert-danger fade show" role="alert">
      <strong>Holy guacamole!</strong> Your search did not bring any results!
      <button type="button" class="close" (click)="closeAlert()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="col-md-8 col-sm-12 search-btn">
        <button type="button" (click)="refresh()" class="btn btn-danger btn-lg ">
          <fa-icon [icon]="faRedo"></fa-icon> Search again
        </button>
      </div>
  </div>
</ng-container>
<div class="container mt-5">
  <div class='filter-bar' *ngIf='data.length >= 1'>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <button type="button" (click)="refresh()" class="btn btn-danger btn-lg mb-5">
          <fa-icon [icon]="faRedo"></fa-icon> Search again
        </button>
      </div>
      <div class="col-md-4 col-sm-12">
        <input class="form-control form-control-lg mb-3 float-right" type="text" placeholder="Filter results..."
          name="search" [(ngModel)]="filter">
      </div>
    </div>
  </div>
  <ng-container *ngIf="loading">
    <div class="loading-background">
      <div class="loading">
          <svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
            <path fill="#fff" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
              <animateTransform 
                 attributeName="transform" 
                 attributeType="XML" 
                 type="rotate"
                 dur="1s" 
                 from="0 50 50"
                 to="360 50 50" 
                 repeatCount="indefinite" />
          </path>
        </svg>
      </div>
    </div>
  </ng-container>
  <div *ngFor="let itunes of data | paginate: { itemsPerPage: 10, currentPage: p } | filter:filter; let i = index">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12">
        <img [hidden]="!imageLoader" src="../../../../assets/images/rolling.gif"/>
        <img [hidden]="imageLoader" (load)="this.imageLoader = false;" class="align-self-start mr-5 mb-5 artwork" src="{{itunes.artworkUrl100}}" alt="image">
      </div>
      <div class="col-md-8 col-lg-8 col-sm-12">
        <h2 class="mt-0 d-inline-block text-truncate trunc">{{itunes.collectionName}}</h2>
        <h4 class="mt-0 mb-3">{{itunes.artistName}}</h4>
        <h5 class="mt-0 mb-3"><a href="{{itunes.collectionViewUrl}}" target="_blank">Listen</a></h5>
      </div>
      <div class="col-md-2 mb-5 col-lg-2 col-sm-12">
        <a target="_blank"><button type="button" class="btn btn-primary btn-lg float-right"
            (click)="addSongToPlaylist(itunes); itunes.clicked = true;" [disabled]="itunes.clicked">
            <fa-icon [icon]="faPlus">
            </fa-icon>
          </button></a>
      </div>
    </div>
  </div>
  <div class="table-pagination mb-5" *ngIf='data.length >= 1'>
    <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
  </div>
</div>
