.content {
    padding: 50px 0px 50px 0px
}

.artwork {
    width: 100%;
}

.hero {
    height: auto;
    width: 100%;
    padding-top: 50px;
    //background-image: url('../../../../assets/images/background-image.jpg');
    background-repeat: no-repeat;
    /* margin-bottom: 50px; */
    color: #ffffff;
    border-radius: 0px;
    margin-bottom: 25px;
    background-size: cover;
    background-color: cadetblue;
  }

  .thead-light {
    border: 0px;
}

.search-btn {
  padding-left: 0px!important;
}

.header {
    font-size: 3.5em;
    font-weight: bold;
}

.loading {
   //background-image: url('../../../../assets/images/rolling.gif');
   background-image: no-repeat;
   height: 125px;
   width: 125px;
   position: absolute;
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.loading-background {
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 999999;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    opacity: 0.6;
}

.table-pagination {
    text-align: center;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #232323;
    padding: 0.9rem 1.5rem;
  }

  .my-pagination /deep/ .ngx-pagination {
    padding-left: 0px!important;
  }

  .my-pagination /deep/ .ngx-pagination a, .ngx-pagination button{
    text-decoration: none!important;
    padding: 0.9rem 1.5rem;
  }

  .ngx-pagination /deep/ .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
     content: '';
  }

  @media only screen and (max-width: 600px) {
    .artwork  {
      margin-bottom: 15px!important;
    }
    .trunc {
        max-width: 300px!important;
      }
  }

  .trunc {
    max-width: 400px;
  }