<div class="hero">
  <div class="container">
    <h1 class="display-4 text-center header mb-3">SEARCH iTunes</h1>
    <p class="mb-4">Per ad sumo nullam liberavisse, aeque invenire sea te, eos debet delectus detraxit ei. Dicam
      recusabo nec in, molestiae tincidunt reprehendunt mea an.</p>
    <form>
      <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-10">
          <div class="form-group">
            <label for="searchQuery" class="sr-only">Search</label>
            <input type="text" name="searchQuery" [(ngModel)]="searchQuery" class="form-control form-control-lg"
              placeholder="Search iTunes..." required>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2 mb-5">
          <button type="button" (click)="getAll()" class="btn btn-primary btn-block btn-lg">
            <fa-icon [icon]="faSearch"></fa-icon> Search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-container *ngIf="noData">
  <div class="container">
    <div class="alert alert-danger fade show" role="alert">
      <strong>Holy guacamole!</strong> Your search did not bring any results!
      <button type="button" class="close" (click)="closeAlert()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</ng-container>
<div class="container mt-5">
  <div class='filter-bar' *ngIf='data.length >= 1'>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <button type="button" (click)="refresh()" class="btn btn-danger btn-lg mb-5"><span class="oi oi-reload"></span>
          <fa-icon [icon]="faRedo"></fa-icon> Start again
        </button>
      </div>
      <div class="col-md-4 col-sm-12">
        <input class="form-control form-control-lg mb-3 float-right" type="text" placeholder="Filter results..."
          name="search" [(ngModel)]="filter">
      </div>
    </div>
  </div>
  <ng-container *ngIf="loading">
    <div *ngIf="!isloading"></div>
    <div class="loading"></div>
  </ng-container>
  <div *ngFor="let itunes of data | paginate: { itemsPerPage: 10, currentPage: p } | filter:filter; let i = index">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12">
        <img class="align-self-start mr-5 mb-5 artwork" src="{{itunes.artworkUrl100}}" alt="image">
      </div>
      <div class="col-md-8 col-lg-8 col-sm-12">
        <h2 class="mt-0 d-inline-block text-truncate trunc">{{itunes.collectionName}}</h2>
        <h4 class="mt-0 mb-3">{{itunes.artistName}}</h4>
      </div>
      <div class="col-md-2 mb-5 col-lg-2 col-sm-12"><a href="{{itunes.collectionViewUrl}}" target="_blank"><button
            type="button" class="btn btn-light btn-lg btn-block">Listen <fa-icon [icon]="faExternalLinkAlt">
            </fa-icon></button></a></div>
      <!-- <div class="col-12">
        <div class="media mb-5">
          <img class="align-self-start mr-5" src="{{user.artworkUrl100}}" alt="image">
          <div class="media-body">
            <h2 class="mt-0">{{user.collectionName}}</h2>
            <h5 class="mt-0">{{user.artistName}}</h5>
          </div>
          <div class="">
            <div class="float-right col-12">
              <button type="button" class="btn btn-secondary btn-lg btn-block">Add</button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="table-pagination mb-5" *ngIf='data.length >= 1'>
    <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
  </div>
  <!--
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Artwork</th>
        <th>Artist</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of data">
        <td><img src="{{user.artworkUrl60}}"></td>
        <td>{{user.artistName}}</td>
        <td>{{user.collectionName}}</td>
        <td>{{user.primaryGenreName}}</td>
        <td>{{user.collectionPrice}}</td>
      </tr>
    </tbody>
  </table>-->
</div>