.footer {
    background-color: #dfdfdf;
    color: #000000;
    padding-bottom: 50px;
    min-height: 300px;
  }
  
  .unstyled-li {
    list-style:none;
  }
  .footer-logo {
    font-size: 26px;
    color: #000000;
  }