<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand mr-5" href="#">
      <fa-icon [icon]="faHeadphones"></fa-icon>
      MUSICBOX
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/home']" href="#">Search</a>
        <a class="nav-link" [routerLink]="['/playlist']" href="#">My Playlist</a>
      </div>
  
    </div>
    <span class="navbar-text d-md-none d-lg-block">
        <button type="button" class="btn btn-dark">
            <b class="mr-2">Playlist</b> <span class="badge badge-light">{{list.playlist.length}}</span>
          </button>
      </span> 
  </div>
</nav>

<!-- 

<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <fa-icon [icon]="faHeadphones"></fa-icon>
      MUSICBOX
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" href="#">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/playlist']" href="#">playlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{list.playlist.length}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->