/* You can add global styles to this file, and also import other style files */

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

  .navbar-dark .navbar-toggler {
    border: 0px;
  }
  
  .navbar .navbar-toggler {
    height: 75px;
  }
  
  .nav-back {
    background-color: #003366 !important;
  }
  
  .nav-back a {
    color: #ffffff;
  }
  
  .navbar-text {
    color: #ffffff;
  }
  
  .bg-dark {
    background-color: #073442 !important;
  }
  
  .navbar {
    padding: 2rem 1rem !important;
  }

